:root{
--primary-text-color: #757575;
--second-text-color: #212121;
--accent-text-color: #2196F3;
--white-text-color: #FFFFFF;
}

body {
    color: var(--second-text-color);
    background-color: var(--white-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    max-width: 1600px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigato-accent {
    color: var(--accent-text-color);
}


.header-border{
        border-bottom: 1px solid #ECECEC;
}

.navigator-logo {
    color: var(--second-text-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-right: 93px;
}

.navigator-foot {
     color: var(--white-text-color);
     font-family: Raleway, cursive;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     text-decoration: none;
 }

.address-flex .infoaddress-flex + .infoaddress-flex{
    margin-top: 9px;
}

.nav-list a {
    color: var(--second-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navinfo-flex{
    margin-right: 50px;
}

 .navinfo-flex:nth-child(3n) {
    margin-right: 0;
}

.navinfo-flex .link{
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.navigato-flex{
    display: flex;
    align-items: center;
}

.navigator{
    display: flex;
    align-items: center;
}

.nav-list .link:hover,
button .nav-list .link:focus,
.nav-list .link:active{
    color: var(--accent-text-color);
}

.nav-list .studio:visited {
    color: var(--accent-text-color);
}

.nav-list .portfolio:visited {
    color: var(--accent-text-color);
}

.info-list a{
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.info-list .link:hover,
button .info-list .link:focus {
    color: var(--accent-text-color);
}

.hero {background-color: #2F303A;
    text-align: center;
    height: 600px;
}

.contacts-flex{
    margin-left: 50px;
}

.hero-title {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 94px;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;

}

.work-text {
    color: var(--primary-text-color);
    line-height: 1.71;
    margin: 0;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
}

.info-flex{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.work-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;  
    margin: 0;
    padding-bottom: 10px;
}

.section-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}

.team{
    background-color: #F5F4FA;
}

.logo {
    color: var(--white-text-color);
} 

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 30px;
}

.team-profession{
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);
    padding-bottom: 124px;
    margin-bottom: 0;
}

footer {
    background-color: #2F303A;
}

.navigator-type {
    color: var(--white-text-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.info-list .map{
    color: var(--white-text-color); 
}

.info-list .contacts {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}

.nav-container{
    margin-top: 60px;
    margin-bottom: 60px;
}

.address {
    font-style: normal;
    padding-top: 20px;
}

.info-list .contacts:hover,
button .info-list .contacts:focus {
    color: var(--accent-text-color);
    cursor: pointer;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.card-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 24px;
}

.card-description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
}   

.portfolio-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--white-text-color);
    accent-color: #F5F4FA;
    font-family: inherit;
  }

.portfolio-all:hover,
button .portfolio-all:focus{
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
  }

  .portfolio-all:active {
      color: var(--accent-text-color);
  }

  .web-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: #F5F4FA;
    font-family: inherit;
}

.web-link:hover,
button .web-link:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
}

.portfolio-app {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: #F5F4FA;
    font-family: inherit;
}

.portfolio-app:hover,
button .portfolio-app:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
}

.portfolio-design {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: #F5F4FA;
    font-family: inherit;
}

.portfolio-design:hover,
button .portfolio-design:focus {
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
    cursor: pointer;
}

.portfolio-mark {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: #F5F4FA;
    font-family: inherit;
}

.portfolio-mark:hover,
button .portfolio-mark:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
}

.hero-order {
    padding: 10px 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
    font-family: inherit;
}

.hero-order:hover,
button .hero-order:focus {
    background-color:var(--primary-text-color) ;
    cursor: pointer;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.web{
    padding-top: 0;
}

.section-flex{
    display: flex;
    flex-wrap: wrap;
}

.sectionweb-flex{
    display: flex;
    flex-wrap: wrap;
}

.websection-item{
    margin-right: 30px;
}

.websection-item:nth-child(3n) {
    margin-right: 0;
}

.section-flexteam{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.infolist-item{
    width: 270px;
    margin-right: 30px;
    background-color: var(--white-text-color);
    }

.info-shadow{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.infolist-item:nth-child(4n) {
    margin-right: 0;
}

.btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-list .dtnlist-flex+.dtnlist-flex {
    margin-left: 9px;
}

.btn-list [type="button"] {
    border-radius: 4px;
    padding: 6px 22px;
    border: solid transparent;
}

.card-padding{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-flex{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.portfolio-flex:nth-child(3n) {
    margin-right: 0;
}

.portfolio-flex:nth-last-child(-n+3){
    margin-bottom: 0;
}


